# Introduction to Numpy

In the last two days of camp, you have learned how to start using python and how to manipulate data with the `pandas` library. Today, we will be learning how to perform calculations with another library known as `numpy`. `numpy` allows you to do math on entire lists of data, all at the same time!

To review what we learned on monday, let's create a list containing the numbers 0 through 5 and assign it to a variable:

In [1]:
# Create a list containing the numbers 0 through 4
the_list = [0, 1, 2, 3, 4]

# or convert the range to a list
the_list = list(range(5))

In [2]:
# let's see what it looks like
print(the_list)

[0, 1, 2, 3, 4]

Using lists can be really useful, because you can store any set of data in the. For instance, you could store the temperature in your house each morning as a list.

Now, lets add 1 to each of the items in the array. There are several different ways to do this:

In [3]:
# Option 1: Add 1 to each item in the array you created above
the_list[0] = the_list[0] + 1
the_list[1] = the_list[1] + 1
the_list[2] = the_list[2] + 1
the_list[3] = the_list[3] + 1
the_list[4] = the_list[4] + 1

# print the list to see how it changed
print(the_list)

[1, 2, 3, 4, 5]

In [4]:
# Option 2: Use a for loop
for i in range(len(the_list)):
    the_list[i] += 1

print(the_list)

[2, 3, 4, 5, 6]

In [5]:
# Option 3: Use a for loop on one line
the_list = [i+1 for i in the_list]

print(the_list)

[3, 4, 5, 6, 7]

You might have noticed that this is a little less convenient than with a single variable, where you can do something like this to add a number:

In [6]:
# create a single variable and add a number to it
a = 5
a += 1
print(a)

6

Today we will be using `numpy`, which allows us to do just that but in a much faster and more efficient way!

First we will import `numpy`. Remember when we imported `pandas`, we gave it the special nickname `pd`? We're also going to give `numpy` a nickname: `np`:

In [ ]:
# Load numpy
import numpy as np

Now whenever we type `np`, python will know we really mean `numpy`.

There is a ton of useful stuff we can do with `numpy`, so let's redo the example above using `numpy` `arrays` instead of `lists`.

In [8]:
# create a numpy array containing the numbers 0 through 4
the_array = np.array([0, 1, 2, 3, 4])

# you can print arrays just like lists
print(the_array)

[0 1 2 3 4]

Numpy `arrays` act very similarly to regular python `lists`, we can grab individual items using the same syntax:

In [9]:
# Print any number from the numpy array you just created:
print(the_array[0])

0

Numpy `arrays` also add a lot of useful features such as the ability to perform commands *on all items in a list at the same time*.

We can demonstrate this by adding a number to all of the items in the Numpy `array`:

In [10]:
# Add any number to the array we created above
the_array += 5
# print the array
print(the_array)

[5 6 7 8 9]

See how much easier that was than using a for loop? We will be using `numpy` for the rest of the day to perform calculations on arrays of data. In the above example we used addition, but you can also perform any mathematical operation we've talked about with `numpy` arrays.

In this lesson you learned how to:
* Load `numpy` into Python.
* Create an `array` with `numpy`.
* Perform math with `numpy` arrays.
     
Now, let's continue to practice with your partner!