# Practice: Subsetting Pandas DataFrames

For this practice, let's use the `iris` dataset:

In [2]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
path = '/content/gdrive/My Drive/SummerExperience-master/'

ModuleNotFoundError: No module named 'google'

In [3]:
# import pandas package
import pandas as pd

In [4]:
# this is where the file is located
filename = path + 'Lessons/SampleData/iris.csv'
# load the iris dataset into a DataFrame
iris = pd.read_csv(path)

NameError: name 'path' is not defined

Refamiliarize yourself with the dataset:

In [ ]:
# take a look at the beginning

iris.head()

Try subsetting on columns:

In [ ]:
# subset the species column

iris['species']

In [ ]:
# subset the sepal_length and sepal_width columns

iris[ ['sepal_length','sepal_width']]

Try subsetting on rows:

In [5]:
# subset the 2nd column

iris[iris.columns[1]]

NameError: name 'iris' is not defined

In [ ]:
# subset the first 5 rows

iris.loc[:4]

In [ ]:
# subset rows 10 through 20

iris.loc[10:20]

In [ ]:
# subset rows 6, 9, and 12

iris.loc[[6,9,12]]

Now do both!

In [ ]:
# subset the first 3 rows and the first 3 columns

iris.loc[:2][iris.columns[:3]]

In [ ]:
# subset row 20 and the species column

iris.loc[20]['species']

Now let's subset using `query`:

In [ ]:
# subset rows where sepal_width is greater than 4

iris.query('sepal_width > 4')

In [ ]:
# subset rows where sepal_width is less than 3.5 and the species is `virginica`.

iris.query('sepal_width < 3.5 and species=="virginica"')

In [ ]:
# subset rows where the pedal width is 0.3 or the species is `versicolor`.

iris.query( 'petal_width==0.3 or species=="versicolor"' )