# Subsetting Pandas DataFrames

You now know how to read external datasets into `pandas`. Let's put those skills to use and read in the `tips` dataset again:

In [ ]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
path = '/content/gdrive/My Drive/SummerExperience-master/'

In [ ]:
# import the pandas package
import pandas as pd
# load tips
tips = pd.read_csv(path + 'Lessons/SampleData/tips.csv')

Take a look again at the beginning of the `tips` `DataFrame`:

In [ ]:
# view the beginning of tips

What if we decided we didn't want to keep all of the data recorded in this dataset? To do that, we need to learn how to `subset` `DataFrames`. Subsetting means taking a dataset and pulling out a small portion of it that we're interested in. 

First, we'll look at a single column (you can use `head` to keep the printed result short):

In [ ]:
tips['day'].head(10)

We use the square brackets [ ] after the name of the `DataFrame` to tell `pandas` that we want to look at one of the columns. We put the name of the column in quotes to tell `pandas` exactly which column we want to look at. Try subsetting the `total_bill` column:

In [ ]:
# subset the total_bill column

`pandas` simply showed us the result of subsetting the column, but it didn't save the result anywhere. Try saving the `total_bill` column to a new variable, `bills`:

In [ ]:
# save the total_bill column to a variable

We can also pull out multiple columns at a time to create a new `DataFrame`. If we were only interested in the `total_bill` and `tip`, we can subset them like this:

In [ ]:
tips[['total_bill', 'tip']].head(10)

Does that look familiar? Instead of putting a single string between the square brackets, we put a whole list of strings -- you can tell it's a list by the second set of square brackets. Now you try: subset the columns `total_bill`, `tip`, and `time` and save the result to a variable called `tips_subset`:

In [ ]:
# subset three columns and save to a new variable

# take a look at the beginning of the new DataFrame

Now we've learned how to subset columns. How do we subset rows? We use a `method` of `DataFrame` called `iloc`. When you see `iloc`, think "index location" -- because we want to get the location where the row is a certain index. Let's try it:

In [ ]:
tips.loc[1]

That showed us the row with an index of 1. Similarly to subsetting columns, we can also subset multiple rows:

In [ ]:
tips.iloc[[0,1,2]]

That gave us a smaller `DataFrame` where the rows have an index of 0, 1, or 2. We can do the same thing with slicing syntax:

In [ ]:
tips.iloc[0:3]

Notice that this does the same thing as calling `head` with a value of 3:

In [ ]:
tips.head(3)

What if we want to grab some rows in the middle of the `DataFrame`? Try subsetting rows 100 through 105:

In [ ]:
# subset rows 100 through 105

We can even subset rows and columns in the same line of code. What do you think the following cell will do?

In [ ]:
tips.loc[5:10][['total_bill', 'day', 'time']]

Now you try! Subset rows 11 and 12 and columns `total_bill` and `tip`:

In [ ]:
# subset rows and columns

Sometimes we don't know exactly which row(s) we want to subset ahead of time. What if we want to subset rows that have a certain value in the `time` column? We don't want to scroll through hundreds of rows to find them. The good news is: we don't have to! Let's use the `method` called `query`.  Inside the parentheses of `query` we'll enclose a statement in quotes with the name of the column and an expression.

In [ ]:
tips.query('time == "Lunch"')

The above cell showed us all the rows where `time` is equal to "Lunch". We had to enclose "Lunch" in quotes above because it's not the name of a column, but a value within the `time` column.

Now you try: subset the rows where the waitress is female and save it to a variable, `female`:

In [ ]:
# subset rows with a female waitress and save it to a variable

# take a look at the beginning

Now lets do the same for males. Subset the male waiter data and save it to a variable, `male`:

In [ ]:
# subset the male waiters and save it

# look at the beginning

 How would you determine the number of male waiters in this `DataFrame`? Think back to the last lesson when we used the `len` function.

In [ ]:
# number of males

How about the number of female waitreses?

In [ ]:
# number of females

We can use `query` on multiple columns at a time. Let's find out how many tables were served by a female waitress on a Sunday.

In [ ]:
tips.query('sex == "Female" and day == "Sun"')

We used the ampersand symbol (&) or the keyword `and` to chain together two statements inside the `query` function. Both statements have to be true for a row to be included.

Besides checking whether values are equal using ==, we can also use greater than, less than, greater than or equal, etc. Try subsetting the rows where the bill is greater than $\$15$ and the tip is less than $\$2$:

In [ ]:
# subset by bill and tip

Instead of the ampersand (&) we can use the pipe (|) or the keyword `or` to represent a query where *one* of the two conditions must be fulfilled. Try subsetting where the bill is greater than $\$15$ or the tip is greater than $\$5$:

In [ ]:
# subset by bill or tip

Congrats on making it to the end of this lesson -- we learned a lot!

- How to use square brackets to subset columns.
- How to use `iloc` to subset rows.
- How to use `iloc` and square brackets at the same time.
- How to use `query` to find rows where the column has a certain value.