# Introduction to Statistics Part III

Now that we have learned how to manipulate basic statistics, we will look at how to perform *significance tests*.

## Significance Testing

In [52]:
# Load `pandas`, `numpy`, and `scipy.stats`

import pandas as pd
import numpy as np
import scipy.stats as stats

Run the cell below to load a table of temperature in Detroit since 1937:

In [53]:
data_table = pd.read_csv( 'detroit_weather_2.csv' ) # Data from Mathematica WeatherData, 2019

Print out the data to see what the format looks like:

In [56]:
# View `data_table` to see what its format looks like

data_table

# or...

data_table.head()

   YEAR  MONTH  DAY  Temperature
0  1937      1    1         0.50
1  1937      1    2         0.17
2  1937      1    3        -1.06
3  1937      1    4        -3.89
4  1937      1    5        -0.17

`data_table` contains one row for each day since 

We will use this data to **test** if global warming is occuring to

In [55]:
# Select two temperature ranges from `data_table`

temps_1935 = data_table.query( "YEAR >= 1935 and YEAR < 1945" )["Temperature"]
temps_2005 =  data_table.query( "YEAR >= 2005 and YEAR < 2015" )["Temperature"]

In [43]:
print( "Average temperature 1935-1945:", np.mean( temps_1935 ) )
print( "Average temperature 2005-2015:", np.mean( temps_2005 ) )

Average temperature 1935-1945: 9.456762491444218
Average temperature 2005-2015: 10.230466136550573

In [44]:
stats.ttest_ind( temps_1935, temps_2005 )

Ttest_indResult(statistic=-2.9502999111291333, pvalue=0.003185866661868811)

In [50]:
temps_1935_dec = np.array( data_table.query( "YEAR >= 1935 and YEAR < 1945 and MONTH==12" )["Temperature"] )
temps_2005_dec = np.array( data_table.query( "YEAR >= 2005 and YEAR < 2015 and MONTH==12" )["Temperature"] )

In [51]:
stats.ttest_ind( temps_1935_dec, temps_2005_dec )

Ttest_indResult(statistic=-2.8752015572302185, pvalue=0.004193489811553372)