# Practice: Subsetting Pandas DataFrames

For this practice, let's use the `iris` dataset:

In [ ]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
# import pandas package

In [ ]:
# this is where the file is located
path = '/content/gdrive/My Drive/gwc/repos/summerExperience/Lessons/SampleData/iris.csv'
# load the iris dataset into a DataFrame

Refamiliarize yourself with the dataset:

In [ ]:
# take a look at the beginning

Try subsetting on columns:

In [ ]:
# subset the species column

In [ ]:
# subset the sepal_length and sepal_width columns

Try subsetting on rows:

In [ ]:
# subset the 2nd row

In [ ]:
# subset the first 5 rows

In [ ]:
# subset rows 10 through 20

In [ ]:
# subset rows 6, 9, and 12

Now do both!

In [ ]:
# subset the first 3 rows and the first 3 columns

In [ ]:
# subset row 20 and the species column

Now let's subset using `query`:

In [ ]:
# subset rows where sepal_width is greater than 4

In [ ]:
# subset rows where sepal_width is less than 3.5 and the species is `virginica`.

In [ ]:
# subset rows where the pedal width is 0.3 or the species is `versicolor`.