# Practice: Histograms and Bar Charts

### Histograms
Start by importing the packages you'll be needing. We will be loading in some datasets from the `seaborn` package, so be sure to import that as well.

In [0]:
# import needed packages (numpy, matplotlib.pyplot, seaborn)
# don't forget the command you need for showings plots within the notebook
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn

In [0]:
# import the flights and titanic datasets from seaborn
flights = seaborn.load_dataset("flights")
titanic = seaborn.load_dataset("titanic")

In [0]:
# plot a histogram of the passengers variable from the flights dataset
# dont forget your axis labels and titles!

In [0]:
# play with the bins parameter to get a better idea of the disitribution

In [0]:
# Now change the plot to show

### Bar Charts

In [0]:
# plot a bar chart of class vs fare in the titanic dataset
# don't forget your labels and title!

Does this plot look as we would expect? Probably not. First, the classes are not in a logical order - we want them to go from least to most. Second, look at the y-axis - what is being plotted here?

When we try to map several rows of values in our pandas dataframe to a single x-axis variable in our bar chart, python automatically plots the **sum** of the y-axis value. This can be useful in some cases, but in our case it probably makes more sense to compare the **means** of the fares across our three passenger class groups. 

Let's work to solve these problems.

In [0]:
# create a vector mean_fares of the mean fare price for each of our passenger class groups
# HINT 1: think back to our lesson in subsetting dataframes in pandas
# HINT 2: for the first class value, we want to apply the np.mean() function on titanic['fare'] WHERE titanic['class'] equals 'First'
# HINT 3: be sure to add the values to the vector in the proper order




# create a vector class_names with our class names in the proper order


# create vector idxs with the numeric x-index values
# HINT: look back to lesson if you dont remember how to get this

Now, let's compare the mean fare price per group between men and women. From the lesson, we know the best way to plot this is to plot the male and female bars next to eachother on the same graph.

In [0]:
# create a vector mean_fares_m of the mean fare price for men for each of our passenger class groups
# HINT: to subset by two colums we do the following:
#         df['column1'][(df['column2'] == 1) & (df['column3'] == 'a')]
# this reads: grab column1 FROM df WHERE column2 equals 1 AND column3 equals 'a'



# create a vector mean_fares_f using the same strategy




# create variable that sets the width of each bar



# plot mens bars on left side of the x-tick
# change color to 'SkyBlue'
# add appropriate label 


# plot womens bars on the right side of the x-tick
# change color to 'Pink'
# add appropriate label

**CHALLENGE**:

In [0]:

# compute standard deviation for both the male and female fares in each class



# reproduce the bar plot from above with error bars corresponding to these standard deviations