# Practice: Subsetting Pandas DataFrames

For this practice, let's use the `iris` dataset:

In [0]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
path = '/content/gdrive/My Drive/SummerExperience-master/'

In [0]:
# import pandas package

In [0]:
# this is where the file is located
filename = path + 'Lessons/SampleData/iris.csv'
# load the iris dataset into a DataFrame

Refamiliarize yourself with the dataset:

In [0]:
# take a look at the beginning

Try subsetting on columns:

In [0]:
# subset the species column

In [0]:
# subset the sepal_length and sepal_width columns

Try subsetting on rows:

In [0]:
# subset the 2nd row

In [0]:
# subset the first 5 rows

In [0]:
# subset rows 10 through 20

In [0]:
# subset rows 6, 9, and 12

Now do both!

In [0]:
# subset the first 3 rows and the first 3 columns

In [0]:
# subset row 20 and the species column

Now let's subset using `query`:

In [0]:
# subset rows where sepal_width is greater than 4

In [0]:
# subset rows where sepal_width is less than 3.5 and the species is `virginica`.

In [0]:
# subset rows where the pedal width is 0.3 or the species is `versicolor`.