# Practice: Subsetting Pandas DataFrames

For this practice, let's use the `iris` dataset:

In [1]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')
# import pandas package
import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
# this is where the file is located
path = '/content/gdrive/My Drive/gwc/repos/summerExperience/Lessons/SampleData/iris.csv'
# load the iris dataset into a DataFrame

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Refamiliarize yourself with the dataset:

In [0]:
# take a look at the beginning

Try subsetting on columns:

In [0]:
# subset the species column

In [0]:
# subset the sepal_length and sepal_width columns

Try subsetting on rows:

In [0]:
# subset the 2nd row

In [0]:
# subset the first 5 rows

In [6]:
# subset rows 10 through 20

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [0]:
# subset rows 6, 9, and 12

Now do both!

In [0]:
# subset the first 3 rows and the first 3 columns

In [0]:
# subset row 20 and the species column

Now let's subset using `query`:

In [0]:
# subset rows where sepal_width is greater than 4

In [0]:
# subset rows where sepal_width is less than 3.5 and the species is `virginica`.

In [8]:
# subset rows where the pedal width is 0.3 or the species is `versicolor`.

{'setosa', 'versicolor', 'virginica'}